body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.titulo {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 40px;
    color: tomato;
}

.camisetas {
    padding: 10px;
    flex-direction: column; 
    justify-content: center;
    margin: 20px;
}

.marca {
    padding: 100px;
}

.descr-marca {
    font-size: 1.2rem;
}

.listado {
    padding: 20px 20px 0px 20px;
}

a {
    font-size: 2rem;
    padding: 40px;
    font-style: italic;
    color: gray
}

a:visited {
    text-decoration: underline double;
    font-weight: bold;
    font-style: normal;
    color: red;
}

