body{
    font-family:monospace;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-align: center;
}

legend{
    color:blueviolet;
}

button{
    color:indigo;
}
